*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}


body{
    background-image: url("img/paper.jpg");
    background-repeat: repeat;
    background-size: cover;
}


/* HEADER STYLING INKL NAVBAR */
header{
    background-color: darkslategrey;
}


.myMenu{
    display: block;
    margin: 0;
    padding-left: 0;
    text-align: center;
}


.myMenu li{
    display: block;
    position: relative;
    
}

.myDropdown{
    display: none;
    width: 100%;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background-color: darkslategray; 
    margin-left: 1px;
    white-space: nowrap;
    font-size: 2em;
    min-width: 215px;  
}

ul li a:hover {
    background: #617F8A;
}

li:hover ul {
    display: block;
    position: absolute;
    z-index: 30;
}

li:hover li{
    float: none;
    font-size: 11px;
}

li:hover a {
    background: #617F8A;
}

li:hover li a:hover {
    background: #95A9B1;
}

.myDropdown a {
    width: 100%;
}

/* BUTTON MED DROPDOWN STYLING */



.dropdownButton {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    padding: 5px;
    width: 100%;
    border: 3px solid red;

  }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 1em;
    border: none;
  }
  
  
  .dropbtnContent {
    display: none;
    text-align: center;
    position: absolute;
    background-color: #f1f1f1;
    width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropbtnContent a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropbtnContent a:hover {background-color: #ddd;}
  
  .dropdownButton:hover  .dropbtnContent {display: block;}
  
  .dropdownButton:hover .dropbtn {background-color: #3e8e41;}


  

/* Media Queries */

 @media all and (min-width: 600px) {
    .myMenu li {
        display: inline-block;
        border-bottom: 0;
 }

.myDropdown li{
    display: block;
}


    .myDropdown a {
        width: 215px;
    }
    

}


